<div class="list-container">
  <accordion  *ngIf="branchGroups && branchGroups.length > 0; else noGroups"   [closeOthers]="true" [showArrows]="true" >
    <div *ngFor="let group of branchGroups">
      <accordion-group  heading="{{group.title}}" (onOpen)="opened(group.groupId)" [isOpened]="group.groupId == openedTabId">
        <div *ngFor="let service of services">
          <div *ngIf="group.serviceIds.includes(service.id)">
            <app-service [name]="service.name" [customersWaiting]="service.customersWaiting" [entity]="service"
                         [selected]="service.selected"
                         (onSelection)='resetSelections($event)'></app-service>
          </div>
        </div>
      </accordion-group>
    </div>
  </accordion>

  <ng-template #noGroups>
      <app-service *ngFor="let service of services" [name]="service.name" [customersWaiting]="service.customersWaiting" [entity]="service"
                   [selected]="service.selected"
                   (onSelection)='resetSelections($event)'></app-service>
  </ng-template>
</div>


