<div class="table-container inner-margin-separator">
  
  <div class="row sub-heading-text-1-margin">
    <div class="col-xs-1 col-xxs"></div>
    <div class="col-xs-10 col-xxs">
      <div class="center-text sub-heading-text-1 custom text-color pad-bottom inner-margin-separator">
        <div id="branchSubHeadingOne">{{ 'service.subHeadingOne' | translate }}</div>
      </div>
    </div>
    <div class="col-xs-1 col-xxs"></div>
  </div>

  <div class="text-center table-child-heading-1">
    <div class="center-text">
      <span [innerHTML]="subHeadingTwo" class="sub-heading-text-2 service-limit-label custom text-color"></span>
    </div>
  </div>

  <div class="text-center table-child-heading-2" [hidden]="!showNetWorkError">
    <span class="center-text sub-heading-text-2 service-limit-label custom text-color">
       <app-network-message></app-network-message>
    </span>
  </div>
  <div class="table-child-list">
    <app-services class="full-width" (onServiceSelection)='saveSelectedService($event)'
                  (onServiceListHeightUpdate)='onServiceListHeightUpdate($event)'
                  (onShowHideServiceFetchError)="showHideNetworkError($event);" (onServiceListLoaded)="onServiceListLoaded()"></app-services>
  </div>
  <div class="table-child-shadow">
    <div class="" [ngClass]="{'list-shadow' : true, 'list-show-hidden' : !showListShadow}">
    </div>
  </div>

  <!--
  <div class="table-child-footer" [hidden]="showNetWorkError">
    <footer class="qm-footer" [hidden]="!isServiceListLoaded">
      <div class="center-text">
        <div class="accent-btn custom accent-bg-color btn-text-color" (click)='onServiceSelection()'>
          {{ 'service.accentBtnText' | translate }}
        </div>
      </div>
    </footer>
  </div>-->
</div>
